@media print {
body {
    background:#FFFFFF;
}
    #header, #header-home {
        display: none;
    }

    #footer {
        display: none;
    }

    .navbar {
    display:none;
    }

    .printicon {
    display:none;
    }
}
